<div class="row">
  <div class="col-md-7">

    </h1><%= @bookmark.url %></h1>
     <%= render partial: 'likes/like', locals: { bookmark: @bookmark } %>

  </div>
  <div class="col-md-5">
    <% if policy(@bookmark).update? %>
      <%= link_to "Edit", edit_topic_bookmark_path(@bookmark.topic, @bookmark), class: 'btn btn-primary' %>
    <% end %>

    <% if policy(@bookmark).destroy? %>
      <%= link_to "Delete", [@bookmark.topic, @bookmark], class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>
