
= render partial: 'layouts/jumbo'
.container
  .row
    .col-md-4
      %h3.text-center.bold Save
      %h4.text-center
        Save Bookmarks for your personal use so you dont get lost in this big world
        of the internet.

    .col-md-4
      %h3.text-center.bold Share
      %h4.text-center
        Share Bookmarks if you want to help guide you fellow internet wonderers.

    .col-md-4
      %h3.text-center.bold Email
      %h4.text-center
        User our API to email bookmarks to your account for quick access when offsite.

        <% content_for :analytic do %>
          <script type="text/javascript"> $(document).ready(function(){ blocmetrics.report("page visit"); }); </script>
        <% end %>
