<%= render partial: 'layouts/jumbo' %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center bold">Save</h3>
      <h4 class="text-center">
        Save Bookmarks for your personal use so you don't get lost in this big world
        of the internet.
      </h4>
    </div>
    <div class="col-md-4">
      <h3 class="text-center bold">Save</h3>
      <h4 class="text-center">
        Share Bookmarks if you want to help guide your fellow internet wonderers.
      </h4>
    </div>
    <div class="col-md-4">
      <h3 class="text-center bold">Save</h3>
      <h4 class="text-center">
        User our API to email bookmarks to your account for quick access when offsite.
      </h4>
    </div>
  </div>
</div>

<% content_for :analytic do %>
  <script type="text/javascript"> $(document).ready(function(){ blocmetrics.report("page visit"); }); </script>
<% end %>
