<div class="row">
  <div class="col-md-12">
    <h1>BlockMarks &nbsp;
      <%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, new_topic_path %>
    </h1>

    <hr />

    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-heading">
          <h3><%= link_to topic.title, topic %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
