<div class="row">
  <div class="col-md-7">
    <h1>BlockMarks</h1>
  </div>
  <div class="col-md-5 pull-right drop-20">
      <%= link_to 'New', new_topic_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-heading">
          <h2><%= link_to topic.title, topic %></h2>
        </div>
        <div class="media-body">
          <% topic.bookmarks.each do |bookmark| %>
            <h4><%= link_to bookmark.url, "http://#{bookmark.url}", target: "_blank" %></h4>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
