<div class="row">
  <div class="col-md-12">
    <h1>BlockMarks <%= link_to 'New Topic', new_topic_path, class: 'btn btn-primary' %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-heading">
          <h2><%= link_to topic.title, topic %></h2>
        </div>
        <div class="media-body">
          <% topic.bookmarks.each do |bookmark| %>
            <div class="col-sm-4">
              <h4><%= link_to bookmark.url, "http://#{bookmark.url}", target: "_blank" %></h4>
              <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>

            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
