<div class="row">
  <div class="col-md-12">
    <h1><%= @topic.title %>
      <%= link_to '<span class="glyphicon glyphicon-minus red"></span>'.html_safe, @topic, method: :delete, data: {confirm: "All of your BlocMarks for this topic will be deleted with this action."}  %>
    </h1>
    <p>Display all BlocMarks for this topic</p>
  </div>
</div>
